/Electricity Bill Management/nbproject/private/
/Electricity Bill Management/build/
/Electricity Bill Management/dist/
/Java Practice/nbproject/private/
/Java Practice/build/
/JavaPractice/nbproject/private/
/JavaPractice/build/